html,
body {
  height: 100%;
  margin: 0px 4px;
  padding: 0px;
  font-family: 'Open Sans';
}

.fullHeight {
  height: 100%;
}

.halfHeight {
  height: 50%;
}

.quarterHeight {
  height: 25%;
}

.tvMain {
  height: 970px;
}

.tvFooter {
  height: 100px;
}

.tvNiceBorder {
  border: 2px solid #EEEEEE;
  height: 100%;
}
